body{
    background-color: grey;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.exerciseList button{
    height: 70px;
    width: 70px;
    background-color: aqua;
}

.newSite{
    height: 1200px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
}

iframe{
    height: 1000px;
    width: 1000px;

}

